body {
    margin:0px auto;
    padding:0px;
    width:375px;
    background-color: #f1eeea;
}


button {
    background-color: rgba(120, 187, 226, 0.966);
    padding: 20px 30px;
    border-radius: 5px;
    color: #272925fe;
    border: none;
   
}